<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div th:fragment="footer_info">
    <footer class="footer-area section-padding-80-0">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row align-items-baseline justify-content-between">
                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-80">
                            <!-- Footer Logo -->
                            <a style="margin-left: -23px" th:href="${'/'}" class="footer-logo"><img th:src="@{'image/logo-footer.png'}" alt=""></a>

                            <h4>+12 345-678-9999</h4>
                            <span>NhanTranUtc@gmail.com</span>
                            <span>Đại học GTVT - Số 3 phố Cầu Giấy</span>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Giờ làm việc</h5>

                            <!-- Single Blog Area -->
                            <div class="latest-blog-area">
                                <a href="#" class="post-title">Bắt đầu: </a>
                                <span class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 7:30 sáng ( hằng ngày )</span>
                            </div>

                            <!-- Single Blog Area -->
                            <div class="latest-blog-area">
                                <a href="#" class="post-title">Kết thúc</a>
                                <span class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 6:00 tối ( hằng ngày )</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-2">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Truy cập</h5>

                            <!-- Footer Nav -->
                            <ul class="footer-nav">
                                <li><a th:href="${'/about'}"><i class="fa fa-caret-right" aria-hidden="true"></i>  Giới thiệu</a></li>
                                <li><a th:href="${'/news'}"><i class="fa fa-caret-right" aria-hidden="true"></i>  Tin tức</a></li>
                                <li><a th:href="${'/services'}"><i class="fa fa-caret-right" aria-hidden="true"></i>  Dịch vụ</a></li>
                                <li><a th:href="${'/accessary'}"><i class="fa fa-caret-right" aria-hidden="true"></i>  Phụ tùng</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-8 col-lg-4">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Theo dõi bản tin</h5>
                            <span>Theo dõi bản tin của chúng tôi để nhận thông báo về các bản cập nhật mới.</span>

                            <!-- Newsletter Form -->
                            <form action="" class="nl-form">
                                <input type="email" class="form-control" placeholder="Enter your email...">
                                <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="container">
            <div class="copywrite-content">
                <div class="row align-items-center">
                    <div class="col-12 col-md-8">
                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p>Copyright &copy; Nhẫn Trần Website 2020</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>